<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposta nº <%= implantacao.numeroProposta %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style-contrato.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/signature_pad"></script>
        <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600&family=Dancing+Script:wght@400;700&family=Satisfy&family=Shadows+Into+Light&family=Great+Vibes&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">

</head>

<body>
    <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" id="Message"
        style="display:none">
        Sucesso!
    </div>
    <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert" id="MessageError"
        style="display:none">
        Erro!
    </div>
    
    <div class="topo sticky-top elemento-oculto">
        <h2> Assinatura da Proposta </h2>
        <div class="row">
            <div class="col">
                <input type="hidden" id="numeroProposta" value="<%= implantacao.numeroProposta %>">
                <input type="hidden" id="planoLogo" value="<%= plano.logo %>">
                <input type="hidden" id="dataVigencia" value="<%= dataFormatada %>">
                <input type="hidden" id="ansOperadora" value="<%= plano.ansOperadora %>">
                <a id="pdfLink" target="_blank">
                    <button type="button" class="btn btn-primary salvar" id="btnSave">IMPRIMIR/ SALVAR PDF</button>
                </a>
            </div>
            <div class="col">
                <a href="#assinar">
                <button type="button" class="btn btn-primary salvar" > ASSINAR </button></a>
            </div>
        </div>
    
    </div>
    <main>
        <header class="header elemento-oculto">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <img class="mw-100" src="/img/logomounthermonoriginal.png">
                        </div>
                        <div class="col-6">
                            <img class="mw-100" src="<%= plano.logo %>">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row infos">
                        <div class="col-6">
                            <strong>Proposta</strong> <br>
                            <span class="valores">
                                <input type="hidden" value="<%= implantacao.numeroProposta %>" id="numeroProposta">
                                <%= implantacao.numeroProposta %>
                            </span>
                        </div>
                        <div class="col-6">
                            Data Criação <br>
                            <span class="valores">
                                <%= dataFormatada %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <strong>Movimentação: </strong> Inclusão
                </div>
            </div>
            <div class="row dados titular">
                <div class="col-12">
                    <h6>Contratante (Titular Plano)</h6>
                    <div class="row">
                        <div class="col-6">
                            <p>CPF: <span>
                                    <%= implantacao.cpftitular %>
                                </span></p>
                        </div>
                        <div class="col-6">
                            <p>RG: <span>
                                    <%= implantacao.rgtitular %>
                                </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Nome completo: <span>
                                    <%= implantacao.nomecompleto %>
                                </span></p>
                        </div>
                        <div class="col-6">
                            <p>Data de Nascimento: <span>
                                    <%= implantacao.datadenascimento %>
                                </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Endereço Completo: <span>
                                    <%= implantacao.enderecoresidencial %>, <%= implantacao.numeroendereco %>, <%=
                                                implantacao.bairro %>, <%= implantacao.cidade %> - <%=
                                                        implantacao.estados %>, CEP: <%= implantacao.cep %>
                                </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Nome da Mãe: <span>
                                    <%= implantacao.nomemaetitular %>
                                </span></p>
                        </div>
                        <div class="col-6">
                            <p>Sexo: <span>
                                    <%= implantacao.sexotitular %>
                                </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Email: <span>
                                    <%= implantacao.emailtitular %>
                                </span></p>
                        </div>
                        <div class="col-6">
                            <p>Telefone Contato: <span>
                                    <%= implantacao.telefonetitular %> / <%= implantacao.celulartitular %>
                                </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Estado Civil: <span>
                                    <%= implantacao.estadociviltitular %>
                                </span></p>
                        </div>
                        <div class="col-6">
                            <p>Profissão: <span>
                                    <%= implantacao.profissaotitular %>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Entidade: <span>
                                    <%= entidade.nome %>
                                </span></p>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row dados infosPlano">
                <div class="col-12">
                    <h6> Plano Pretendido </h6>
                    <div class="row">
                        <table class="table table-contratoGerais">
                            <thead>
                                <th> PLANO </th>
                                <th> CÓDIGO <strong>ANS</strong> </th>
                                <th> SEGMENTAÇÃO </th>
                                <th> ABRANGÊNCIA GEOGRÁFICA</th>
                                <th> ACOMODAÇÃO </th>
                                <th> MECANISMO DE REGULAÇÃO </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= plano.nome_do_plano %>
                                    </td>
                                    <td>
                                        <%= plano.ans %>
                                    </td>
                                    <td>
                                        ODONTOLÓGICO
                                    </td>
                                    <td>
                                        <%= plano.abrangencia %>
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        <% if (plano.coparticipacao === 'Sim') { %>
                                            Com coparticipação
                                        <% } else { %>
                                            Sem coparticipação
                                        <% } %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row dados financeiroTitular">
                <% if(implantacao.titularresponsavelfinanceiro === 'Sim') { %>
                    <div class="col-12">
                        <h6>Representante Legal</h6>
                        <div class="row">
                            <div class="col-6">
                                <p>CPF: <span>
                                        <%= implantacao.cpftitular %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>RG: <span>
                                        <%= implantacao.rgtitular %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Nome completo: <span>
                                        <%= implantacao.nomecompleto %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>Data de Nascimento: <span>
                                        <%= implantacao.datanascimento %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>Endereço Completo: <span>
                                        <%= implantacao.enderecoresidencial %>, <%= implantacao.numeroendereco %>, <%=
                                                    implantacao.bairro %>, <%= implantacao.cidade %> - <%=
                                                            implantacao.estados %>, CEP: <%= implantacao.cep %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Nome da Mãe: <span>
                                        <%= implantacao.nomemaetitular %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>Sexo: <span>
                                        <%= implantacao.sexotitular %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Email: <span>
                                        <%= implantacao.emailtitular %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>Telefone Contato: <span>
                                        <%= implantacao.telefonetitular %> / <%= implantacao.celulartitular %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Estado Civil: <span>
                                        <%= implantacao.estadociviltitular %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>Profissão: <span>
                                        <%= implantacao.profissaotitular %>
                                    </span></p>
                            </div>
                        </div>
    
                    </div>
                <% } else if(implantacao.titularresponsavelfinanceiro === 'Não') { %> 
                    <div class="col-12">
                        <h6>Representante Legal</h6>
                        <div class="row">
                            <div class="col-6">
                                <p>CPF: <span>
                                        <%= implantacao.cpffinanceiro %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>Grau Parentesco: <span>
                                        <%= implantacao.grauparentesco %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Nome completo: <span>
                                        <%= implantacao.nomefinanceiro %>
                                    </span></p>
                            </div>
                            <div class="col-6">
                                <p>Data de Nascimento: <span>
                                        <%= implantacao.datanascimentofinanceiro %>
                                    </span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p> Sexo:  <span> <%= implantacao.sexotitularfinanceiro %> </span> </p>
                            </div>
                            <div class="col-6">
                                <p> Estado Civil:  <span> <%= implantacao.estadocivilfinanceiro %></span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p> Telefone: <span> <%= implantacao.telefonetitularfinanceiro %> </span>
                            </div>
                            <div class="col-6">
                                <p> Email:  <span> <%= implantacao.emailtitularfinanceiro %> </span> </p>
                            </div>
                        </div>
                        
                    </div>
                <% } %> 
            </div>

            <div class="row dados dependentes">
                <div class="col-12">
                    <h6> Dependentes (<%= dependentes.length %>) </h6>
                    <% if(dependentes.length > 0){ %>
                        <% dependentes.forEach(function (dependente) { %>
                            <div class="dependente">
                                <div class="row">
                                    <div class="col-6">
                                        <p> CPF: <span> <%= dependente.cpfdependente %> </span>  </p>
                                    </div>
                                    <div class="col-6">
                                        <p>Nome: <span> <%= dependente.nomecompletodependente %> </span> </p> 
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-6">
                                        <p> Nome da Mãe:  <span> <%= dependente.nomemaedependente %> </span> </p>
                                    </div>
                                    <div class="col-6">
                                        <p> Data Nascimento: <span> <%= dependente.nascimentodependente %> </span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Sexo: <span> <%= dependente.sexodependente %> </span></p>
                                    </div>
                                    <div class="col-6">
                                        <p> Estado Civil: <span> <%= dependente.estadocivildependente %> </span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Grau de parentesco: <span> <%= dependente.grauparentescodependente %> </span></p>
                                    </div>
                                    <div class="col-6">
                                        <p>RG: <span> <%= dependente.rgdependente %></span></p>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        
                    <% } else { %>
                        <div class="row">
                            <p> Sem dependentes associados</p>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="row dados informacoesDePagamento">
                <div class="col-12">
                    <h6> FORMA DE PAGAMENTO </h6>
                    <div class="row">
                        <div class="col-4">
                            <p> Forma de Pagamento: 
                                <span>
                                    <%= formaPagamento.descricao %>
                                </span> 
                            </p>
                        </div>
                        <div class="col-4"></div>
                            <p> Valor total: 
                                <span>
                                    R$ <%= (formaPagamento.valor_total_pgto * nDependentes).toFixed(2) %>
                                </span> 
                            </p>
                        </div>
                        <div class="col-4">                            
                            <p> Mês de reajuste: <span> <%= plano.reajuste %> </span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row dados">
                <div class="col-12">
                    <h6> VIGÊNCIA </h6>
                    <table class="table table-contratoGerais">
                        <thead>
                            <th> PAGAMENTO* </th>
                            <th> VIGÊNCIA** </th>
                            <th> VENCIMENTO*** </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    De 01 a 05
                                </td>
                                <td>
                                    10
                                </td>
                                <td>
                                    10
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    De 06 a 10
                                </td>
                                <td>
                                    15
                                </td>
                                <td>
                                    15
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    De 11 a 15
                                </td>
                                <td>
                                    20
                                </td>
                                <td>
                                    20
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    De 16 a 20
                                </td>
                                <td>
                                    25
                                </td>
                                <td>
                                    25
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    De 21 a 25
                                </td>
                                <td>
                                    30
                                </td>
                                <td>
                                    30
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    De 26 a 30/31
                                </td>
                                <td>
                                    05 do mês subsequente
                                </td>
                                <td>
                                    05 do mês subsequente
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <p style="text-align: justify;"><span>*Quando não for identificado o pagamento seja via boleto ou cartão de crédito até a data do vencimento inicialmente selecionado, o proponente titular ou responsável financeiro da proposta será notificado pela Administradora de Benefícios e orientado sobre a adesão da proposta com nova data de vigência. A proposta também poderá sofrer alteração de vigência quando, a data selecionada para pagamento compreender um dia de feriado ou final de semana e para tanto o proponente titular ou responsável financeiro também serão notificados pela Administradora de Benefícios com e-mail de boas-vindas informando o início da cobertura.<br>
                        **Vigência significa início da cobertura e conforme indicado no parágrafo acima está sujeita a alterações. <br>
                        ***Vencimento é o dia do pagamento a partir da segunda mensalidade, quando o seguro for contratado na opção parcelamento no boleto. </span></p>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row dados condicoesContrato page-break">
                <div class="col-12">
                    <h6> Condições Gerais do Contrato</h6>
                    <div class="row">
                        <p>
                            Pelo presente, declaro expressamente que li e compreendi o “Manual de Orientação para
                            Contratação de Planos de Saúde” (MPS), editado pela Agência de Saúde Suplementar (<strong>ANS</strong>),
                            CONCORDO E ESTOU CIENTE QUE:
                        </p>
                        <ol>
                            <li>
                                Este instrumento é a <strong>Proposta de Adesão </strong>, doravante denominada simplesmente <strong> "Proposta" </strong>, ao plano odontológico coletivo por adesão, doravante denominado simplesmente <strong>"seguro"</strong>, estipulado pela Mount Hermon Administradora de Benefícios Ltda., doravante denominada simplesmente “<strong> Administradora de Benefícios </strong>”, com a Porto Seguro - Seguro Saúde S/A, doravante denominada simplesmente <strong> "Seguradora" </strong>, e destinada à população que mantenha vínculo com a minha entidade de classe, doravante denominada simplesmente <strong> "Entidade" </strong>, indicada na página 1 desta <strong>Proposta</strong>.
                            </li>
                            <li>
                                Mantenho vínculo com a Entidade indicada na página 1 desta <strong>Proposta</strong>, sendo que a documentação comprobatória desse vínculo está sendo entregue por mim ao angariador, no ato da assinatura desta, para que seja conferida pela <strong><strong> Administradora de Benefícios </strong></strong>, podendo ser recusada em razão da falta de minha elegibilidade. Em caso de recusa da adesão, a taxa de angariação será devolvida a mim pelo angariador que a recebeu. A <strong> Administradora de Benefícios </strong> e/ou a <strong>Seguradora</strong> poderão, a qualquer tempo, requerer a atualização da documentação comprobatória do meu vínculo com a Entidade.
                            </li>
                            <li>
                                Serão aceitos como meus dependentes o (a) cônjuge ou companheiro(a), desde que comprove esta condição legalmente; parentes consanguíneos até o terceiro grau de parentesco, inclusive os filhos adotivos menores de 12 (doze) anos, com aproveitamento das carências já cumpridas pelo Segurado Ativo Titular adotante, nos termos do art.12, VII, da Lei 9.656/98; parentes por afinidade até o segundo grau de parentesco; filhos inválidos de qualquer idade, mediante comprovação médica e legal da invalidez e dependência econômico-financeira; menores curatelados e tutelados, na forma da Lei e mediante comprovação legal pertinente. 
                            </li>
                            <li>
                                A responsabilidade pelos documentos e informações fornecidos por mim e por meu(s) dependente(s) sobre toda e qualquer circunstância que possa influir na aceitação desta <strong>Proposta</strong>, na permanência e/ou no valor mensal do <strong>seguro</strong> é única e exclusivamente minha; Omissões ou dados errôneos acarretarão na perda de todos os meus direitos, bem como os do(s) meu(s) dependente(s), decorrentes do <strong>seguro</strong>.
                            </li>
                            <li>
                                Efetivada a análise dos documentos e das informações prestadas nesta <strong>Proposta</strong>, de acordo com a legislação vigente, será implantada pela <strong>Seguradora</strong> e o <strong>seguro</strong> terá início na data indicada no campo “Início da vigência”, na página 1 da presente; tanto eu quanto meu(s) dependente(s) passaremos a ser denominados <strong> "segurados" </strong>.
                            </li>
                            <li>
                                Assim que eu assumir a condição de <strong>Beneficiário</strong> titular, ficam outorgados à <strong><strong> Administradora de Benefícios </strong></strong> amplos poderes para me representar, perante a <strong>Seguradora</strong> e outros órgãos, em especial a <strong>ANS</strong>, no cumprimento e/ou nas alterações deste <strong>seguro</strong>, bem como na negociação dos reajustes dos valores mensais.
                            </li>
                            <li>
                                O contrato do plano odontológico coletivo por adesão firmado entre a <strong><strong> Administradora de Benefícios </strong></strong> e a <strong>Seguradora</strong>, no qual passarei a integrar, vigorará pelo prazo mínimo de 12 (doze) meses, podendo ser renovado automaticamente, por prazo indeterminado, desde que não ocorra denúncia, por escrito, no prazo de 60 (sessenta) dias, de qualquer das partes, seja pela <strong><strong> Administradora de Benefícios </strong></strong> ou pela <strong>Seguradora</strong>. A vigência do <strong>seguro</strong> indicada na página 1 desta <strong>Proposta</strong> não se confunde com a vigência do contrato do plano odontológico coletivo por adesão. Em caso de rescisão desse contrato do plano odontológico coletivo por adesão, a <strong><strong> Administradora de Benefícios </strong></strong> me fará a comunicação desse fato em prazo não inferior a 30 (trinta) dias.
                            </li>
                            <li>
                                Com antecedência mínima de 60 (sessenta) dias para o vencimento do período de cada 12 meses contratados, contados da primeira vigência, deverei denunciar à <strong><strong> Administradora de Benefícios </strong></strong>, por escrito, minha intenção em dar continuidade ou não no meu plano odontológico para o novo período anual. Não havendo minha manifestação de cancelamento, a <strong><strong> Administradora de Benefícios </strong></strong> procederá com renovação automática do meu plano odontológico e de meus dependentes, se houver. Receberei da <strong><strong> Administradora de Benefícios </strong></strong> informativo para quitação das mensalidades na mesma forma de pagamento em que foi aderido o contrato. Este será enviado em até 5 dias antes da renovação do mesmo produto com os valores atualizados, visto que o contrato prevê reajuste das mensalidades.
                            </li>
                            <li>
                                Alguns planos coletivos por adesão, podem possuir entre os seus mecanismos de regulação a coparticipação, que é a participação na despesa assistencial a ser paga pelo <strong>Beneficiário</strong> sempre que houver a realização de consultas, exames, procedimentos, respeitadas as resoluções e instruções normativas da <strong>ANS</strong> vigentes à época da estipulação do contrato do plano odontológico coletivo por adesão e conforme o quadro a seguir:
                            </li>
                            <table class="table table-contratoGerais">
                                <thead>
                                    <th> PLANO </th>
                                    <th> CÓDIGO <strong>ANS</strong> </th>
                                    <th> SEGMENTAÇÃO </th>
                                    <th> ACOMODAÇÃO </th>
                                    <th> MECANISMO DE REGULAÇÃO </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= plano.nome_do_plano %>
                                        </td>
                                        <td>
                                            <%= plano.ans %>
                                        </td>
                                        <td>
                                            ODONTOLÓGICO
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            <% if (plano.coparticipacao === 'Sim') { %>
                                                Com coparticipação
                                            <% } else { %>
                                                Sem coparticipação
                                            <% } %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                            <li>
                                O <strong>seguro</strong> cobrirá as despesas com serviços médico-hospitalares relacionados no “Rol de Procedimentos e Eventos em Saúde”, instituído pela <strong>ANS</strong>, no tratamento das doenças codificadas na versão 11 da Classificação Estatística Internacional de Doenças e Problemas Relacionados à Saúde (CID-11), da Organização Mundial da Saúde (OMS), observadas as condições gerais deste <strong>seguro</strong>.
                            </li>
                            <li>
                                Além das coberturas referidas no item 9, este <strong>seguro</strong> pode oferecer, conforme as condições de cada plano, coberturas e/ou benefícios adicionais
                            </li>
                            <li>
                                As coberturas excluídas do <strong>seguro</strong> são aquelas que não se incluem no “Rol de Procedimentos e Eventos em Saúde”, da <strong>ANS</strong>, nem nas coberturas adicionais eventualmente oferecidas por este <strong>seguro</strong>, bem como as despesas não cobertas citadas na Lei nº 9.656/98 e nas normas regulamentares da <strong>ANS</strong>.
                            </li>
                            <li>
                                Os prazos de carência são os períodos nos quais nem eu nem meu(s) <strong>Segurado</strong>(s) dependente(s) teremos direito a determinadas coberturas, mesmo que em dia com o pagamento do <strong>seguro</strong>. Há prazos de carência para utilização do <strong>seguro</strong>, conforme tabela indicativa a seguir. Para efeitos de isenção de carências, devem-se observar as normas regulamentares da <strong>ANS</strong> e a legislação em vigor
                            </li>

                            <table class="table table-contratoGerais">
                                <thead>
                                    <th class="col-8"> DESCRIÇÃO </th>
                                    <th class="col-4"> CARÊNCIA CONTRATUAL </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Urgência/Emergência
                                        </td>
                                        <td>
                                            24 horas
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Diagnóstico, Radiologia, Prevenção, Odontopediatria, e Dentística
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Endodontia e Periodontia
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cirurgia
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Prótese ROL
                                        </td>
                                        <td>
                                            60 dias
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Ortodontia, Prótese Extra ROL e Clareamento
                                        </td>
                                        <td>
                                            120 dias
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </br>
                            <li>
                                As características do <strong>seguro</strong> relativa a: (i) segmentação assistencial e (ii) abrangência geográfica estão definidas na página 1 desta <strong>Proposta</strong> e, a área de atuação dos planos no quadro a seguir:
                            </li>

                            <table class="table table-contratoGerais">
                                <thead>
                                    <th> PLANO </th>
                                    <th> CÓDIGO ANS </th>
                                    <th> SEGMENTAÇÃO </th>
                                    <th> ÁREA DE ATUAÇÃO </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= plano.nome_do_plano %>
                                        </td>
                                        <td>
                                            <%= plano.ans %>
                                        </td>
                                        <td>
                                            ODONTOLÓGICO
                                        </td>
                                        <td>
                                            <%= plano.areaatuacao %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <li>
                                O pagamento do <strong>seguro</strong>, será no dia e forma indicada na página 1 desta <strong>Proposta</strong>, sendo que a falta de pagamento na data do seu vencimento acarretará na cobrança de juros de 1% ao mês (0,033% ao dia) e à multa de 2% sobre o valor do débito em atraso, calculados proporcionalmente ao tempo de inadimplência e ainda, se for o caso, honorários advocatícios e reembolso de custas judiciais e outras despesas de cobrança. No período de inadimplência, poderá ocorrer a suspensão automática do <strong>seguro</strong>, cuja utilização somente será restabelecida a partir da quitação do(s) valor(es) pendente(s), acrescido(s) dos encargos supracitados, observada a possibilidade de cancelamento, conforme disposto no item 18 desta <strong>Proposta</strong>. No caso de inadimplência, a contar da data de seu vencimento, a <strong><strong> Administradora de Benefícios </strong></strong> adotará medidas para a cobrança dos valores em atraso, acarretando, inclusive, o envio das informações do <strong>Segurado</strong> titular, ou de seu responsável legal, aos órgãos de serviço de proteção ao crédito, mediante prévia comunicação, conforme determina o Código de Defesa do Consumidor
                            </li>
                            <li>
                                Independentemente da data da minha <strong>Proposta</strong>, o valor mensal do <strong>seguro</strong> poderá sofrer os seguintes reajustes:
                                <br>
                                <ul>
                                    <li>
                                        (I) reajuste anual (financeiro e/ou por índice de sinistralidade), que ocorre quando há alteração de custos, utilização dos serviços médicos e uso de novas tecnologias, cuja periodicidade será <strong>anual </strong>, sempre no mês de aniversário do contrato celebrado entre a <strong>Seguradora</strong> e a <strong>Administradora de Benefícios </strong>, independente da data de inclusão dos segurados no plano odontológico, nunca ocorrendo, porém, em periodicidade inferior a 12 (doze) meses, da última aplicação do reajuste anual; 
                                    </li>
                                    <li>
                                        (II) reajuste(s) em outra(s) hipótese(s), que venha(m) a ser autorizado(s) pela <strong>ANS</strong>, contratado(s) entre a <strong><strong> Administradora de Benefícios </strong></strong> e a <strong>Seguradora</strong>, além de previamente comunicado(s) ao <strong>Segurado</strong>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Devo solicitar e informar expressamente à <strong>Administradora de Benefícios</strong> toda e qualquer alteração cadastral, tal como a eventual perda de elegibilidade. As informações relativas à alteração de e-mail, telefones celulares e demais dados deverão ser comunicados imediatamente à <strong>Administradora de Benefícios</strong>, visando o relacionamento e notificações a serem encaminhadas.
                            </li>
                            <li>
                                Poderei solicitar o cancelamento do <strong>seguro</strong> à <strong>Administradora de Benefícios</strong>, de acordo com os normativos da legislação em vigor. O <strong>seguro</strong> poderá ser cancelado unilateralmente, conforme as regras e prazos previstos em contrato, nas seguintes situações (i) por uma das pessoas jurídicas contratantes (seguradora, <strong>Administradora de Benefícios</strong> ou Entidade); (ii) em caso de perda da elegibilidade, se constatada fraude no uso do plano ou nas informações prestadas na contratação; (iii) pela falta de pagamento do valor mensal do <strong>seguro</strong> até o último dia da vigência referente ao mês não pago, mediante comunicado prévio, que será enviado através de e-mail, aplicativo de whatsapp constante na base de dados da <strong>Administradora de Benefícios</strong>. No caso de cancelamento do <strong>seguro</strong>, haverá minha exclusão e a de meu(s) <strong>segurado</strong>(s) dependente(s), sem prejuízo da cobrança do(s) valor(es) não pago(s), incluídos juros e multa.
                            </li>
                            <li>
                                No caso de cancelamento do <strong>seguro</strong>, devolverei imediatamente à <strong><strong> Administradora de Benefícios </strong></strong> os cartões de identificação do(s) <strong>Segurado</strong>(s), assumindo todas as responsabilidades civis, criminais e financeiras por toda e qualquer utilização indevida do <strong>seguro</strong>, incluindo a utilização por terceiros, com ou sem o meu conhecimento.
                            </li>
                            <li>
                                Não haverá nenhuma continuidade deste <strong>seguro</strong> nas hipóteses previstas nos artigos 30 e 31 da Lei nº 9.656/98, que cuidam da continuidade assistencial em casos de demissão e aposentadoria em contratos coletivos empresariais, hipóteses essas totalmente diversas das que se aplicam a este <strong>seguro</strong>.
                            </li>
                            <li>
                                Poderei postular nova adesão ao <strong>seguro</strong>, após ser feita nova análise e aceitação das condições de minha elegibilidade e após ter quitado eventuais débitos anteriores. A nova adesão estará sujeita ao cumprimento de novos prazos de carências parciais ou totais, de acordo com os normativos da legislação em vigor.
                            </li>
                            <li>
                                Poderei desistir desta <strong>Proposta</strong>, sem nenhum ônus, desde que tal decisão seja comunicada por escrito à <strong><strong> Administradora de Benefícios </strong></strong> no prazo máximo de 7 (sete) dias, contados a partir da data de minha assinatura neste instrumento, autorizando a cobrança do valor do <strong>seguro</strong>, caso esse prazo não seja observado
                            </li>
                            <li>
                                A minha manifestação de vontade, ao aceitar esta <strong>Proposta</strong>, não poderá ser questionada pelo mero fato de ter sido assinada por meio eletrônico e, para todos os fins de direito, esta <strong>Proposta</strong> equivale a um documento particular. Declaro, ainda, aceitar como válido o meio tecnológico adotado pela <strong><strong> Administradora de Benefícios </strong></strong> para a celebração desta <strong>Proposta</strong>, uma vez que garanti das a autoria e integridade do documento em forma eletrônica, nos termos da legislação em vigor.
                            </li>
                            <li>
                                O tratamento de meus dados pessoais e dados pessoais sensíveis do(s) <strong>Segurado</strong>(s) dependente(s) pela <strong><strong> Administradora de Benefícios </strong></strong> e <strong>seguradora</strong>, para os fins do preenchimento da <strong>Proposta</strong> e regular prestação dos serviços de assistência à saúde contratados, visa atender as exigências de garantia assistencial obrigatória estabelecidas na Instrução Normativa - IN Nº 8, de 30 de março de 2022 da Agência Nacional de Saúde Suplementar - <strong>ANS</strong>, e será realizado independentemente do meu consentimento e do(s) <strong>Beneficiário</strong>(s) dependente(s) de dados manifestado no ato da contratação, sempre de modo a resguardar os direitos fundamentais de liberdade, privacidade e livre desenvolvimento da pessoa natural, em observância à Lei Federal nº 13.709/2018 (Lei Geral de Proteção de Dados Pessoais – LGPD)” 
                            </li>
                            <li>
                                O Foro para dirimir quaisquer questões oriundas da presente <strong>Proposta</strong> é o do meu domicílio.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="row dados manualOrientacao page-break">
                <div class="col-12">
                    <h6> Manual de Orientação para Contratação de Planos de Saúde</h6>
                    <div class="row manual">
                        <div style="
                            width: 100%;
                            display: flex;
                            flex-direction: row;">
                            <div style="
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;">
                                <img 
                                    class="mw-100" 
                                    src="<%= plano.logo %>" 
                                    style="
                                        width: 30%;"
                                />
                            </div>
                            <div style="
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                color: #0E3178;
                                font-weight: 900;
                                align-items: center;
                                text-align: end;"
                                >
                                <%= plano.razaoSocialOperadora %> <br>
                                CPNJ: <%= plano.cnpjOperadora %> <br>
                                Registro na ANS: <%= plano.ansOperadora %> <br>
                                <%= plano.siteOperadora %> | Tel: <%= plano.telefoneOperadora %>
                            </div>
                        </div>
                        <div class="row">
                            <h1> Diferenças entre planos individuais e coletivos </h1>
                        <p>
                            Os planos com contratação individual ou familiar são aqueles contratados diretamente da
                            seguradora de plano de saúde: é o próprio <strong>Beneficiário</strong> quem escolhe as características do
                            plano a ser contratado. <br>
                            Os planos com contratação coletiva são aqueles em que o <strong>Beneficiário</strong> ingressa no plano de
                            saúde contratado por uma empresa ou órgão público (coletivo empresarial); associação
                            profissional, sindicato ou entidade assemelhada (coletivo por adesão). Nos planos coletivos
                            é um representante dessas pessoas jurídicas contratantes, com a participação ou não de uma
                            <strong><strong> Administradora de Seguros </strong></strong>, que negocia e define as características do plano a ser
                            contratado. Assim, é importante que o <strong>Beneficiário</strong> antes de vincular-se a um plano coletivo,
                            em especial o por adesão, avalie a compatibilidade entre os seus interesses e os interesses
                            da pessoa jurídica contratante.
                        </p>
                        <h1> Aspectos a serem observados na contratação ou ingresso em um plano de saúde
                        </h1>

                        <table class=" table table-contrato">
                            <thead>
                                <th class="col-1"></th>
                                <th class="col-4"> PLANOS INDIVUDAIS OU FAMILIARES</th>
                                <th class="col-7"> PLANOS COLETIVOS</th>
                            </thead>
                            <tr>
                                <td> CARÊNCIA </td>
                                <td>
                                    É permitida a exigência de cumprimento de período de carência nos prazos máximos
                                    estabelecidos pela Lei nº 9.656/1998:24h para urgência/emergência, até 300 dias para
                                    parto a termo e até 180 dias para demais procedimentos.
                                </td>
                                <td>
                                    <div class="interna">
                                        <h2> COLETIVO EMPRESARIAL</h2>
                                        <p>
                                            Com 30 participantes ou mais Não é permitida a exigência de cumprimento de
                                            carência, desde que o <strong>Beneficiário</strong> formalize o pedido de ingresso em até
                                            trinta dias da celebração do contrato coletivo ou de sua vinculação a pessoa
                                            jurídica contratante.
                                        </p>
                                        Com menos de 30 participantes É permitida a exigência de cumprimento de carência
                                        nos mesmos prazos máximos estabelecidos pela lei.
                                        <p>
                                        <h2> COLETIVO POR ADESÃO </h2>
                                        <p>
                                            Não é permitida a exigência de cumprimento de carência desde que o
                                            <strong>Beneficiário</strong> ingresse no plano em até trinta dias da celebração do contrato
                                            firmado entre a pessoa jurídica contratante e a seguradora de plano de saúde.
                                            A cada aniversário do contrato será permitida a adesão de novos
                                            segurados sem o cumprimento de carência, desde que: (1) os mesmos tenham
                                            se vinculado à pessoa jurídica contratante após os 30 dias da celebração do
                                            contrato e (2) tenham formalizado a proposta de adesão até 30 dias da data
                                            de aniversário do contrato.
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> COBERTURA PARCIAL TEMPORÁRIA(CPT)
                                </td>
                                <td>
                                    Sendo constatado no ato da contratação que o <strong>Beneficiário</strong> tem conhecimento de doença
                                    ou lesão preexistente (DLP), conforme declaração de saúde, perícia médica ou
                                    entrevista qualificada e Carta de Orientação ao Beneficiário de entrega obrigatória,
                                    a seguradora poderá oferecer a cobertura total, após cumpridas eventuais carências,
                                    sem qualquer ônus adicional para o <strong>Beneficiário</strong>. Caso a seguradora opte pelo não
                                    oferecimento de cobertura total, deverá neste momento, oferecer a Cobertura Parcial
                                    Temporária (CPT) que é a suspensão, por até 24 meses, das coberturas para
                                    procedimentos de alta complexidade, internações cirúrgicas ou em leitos de alta
                                    tecnologia, relacionados exclusivamente à DLP declarada. Como alternativa a CPT é
                                    facultado à seguradora oferecer o Agravo, que é um acréscimo no valor da mensalidade
                                    paga ao plano privado de assistência à saúde para que o mesmo tenha acesso regular à
                                    cobertura total, desde que cumpridas as eventuais carências. A seguradora de planos
                                    de saúde não pode negar a cobertura de procedimentos relacionados a DLP não
                                    declaradas pelo <strong>Beneficiário</strong> antes do julgamento de processo administrativo na forma
                                    prevista pela RN 558/2022
                                </td>
                                <td>
                                    <div class="interna">
                                        <h2> COLETIVO EMPRESARIAL</h2>
                                        <p>
                                            Com 30 participantes ou mais: Não é permitida a aplicação de Cobertura
                                            Parcial Temporária (CPT) ou Agravo, desde que o <strong>Beneficiário</strong> formalize o
                                            pedido de ingresso em até trinta dias da celebração do contrato coletivo ou
                                            de sua vinculação a pessoa jurídica contratante
                                        </p>
                                        Com menos de 30 participantes: É permitida a aplicação de Cobertura Parcial
                                        Temporária (CPT) ou Agravo
                                        <p>
                                        <h2> COLETIVO POR ADESÃO </h2>
                                        <p>
                                            É permitida a aplicação de Cobertura Parcial Temporária (CPT) ou Agravo,
                                            independente do número de participantes
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    MECANISMOS DE REGULAÇÃO
                                </td>
                                <td colspan="2">
                                    É importante que o <strong>Beneficiário</strong> verifique: (1) se o plano a ser contratado possui
                                    coparticipação e/ou franquia. Em caso positivo, é obrigatório constar no contrato
                                    quais os serviços de saúde e como será a sua participação financeira. (2) como é o
                                    acesso aos serviços de saúde, no plano que deseja contratar. Exigência de perícia
                                    por profissional de saúde, autorização administrativa prévia e/ou direcionamento a
                                    prestadores só são permitidas se houver previsão no contrato.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    REAJUSTE
                                </td>
                                <td>
                                    Os planos individuais ou familiares precisam de autorização prévia da <strong>ANS</strong> para
                                    aplicação de reajuste anual, exceto para os de cobertura exclusivamente odontológica
                                    que devem ter cláusula clara elegendo um índice de preços divulgado por instituição
                                    externa. A variação da mensalidade por mudança de faixa etária é o aumento
                                    decorrente de alteração de idade do <strong>Beneficiário</strong>, segundo faixas e percentuais de
                                    variação dispostos em contrato e atendendo a RN 563/2022.
                                </td>
                                <td>
                                    Os planos coletivos não precisam de autorização prévia da <strong>ANS</strong> para aplicação de
                                    reajuste anual. Assim, nos reajustes aplicados às mensalidades dos contratos
                                    coletivos, prevalecerá o disposto no contrato ou índice resultante de negociação
                                    entre as partes contratantes (seguradora de plano de saúde e pessoa jurídica),
                                    devendo a seguradora obrigatoriamente comunicar os reajustes à <strong>ANS</strong>. O <strong>Beneficiário</strong>
                                    deverá ficar atento à periodicidade do reajuste que não poderá ser inferior a 12
                                    meses, que serão contados da celebração do contrato ou do último reajuste aplicado e
                                    não do ingresso do <strong>Beneficiário</strong> ao plano. Embora não haja a necessidade de prévia
                                    autorização da <strong>ANS</strong>, esta faz um monitoramento dos reajustes aplicados nos contratos
                                    coletivos. A variação da mensalidade por mudança de faixa etária é o aumento
                                    decorrente da alteração de idade do <strong>Beneficiário</strong>, segundo faixas e percentuais de
                                    variação dispostos em contrato e atendendo a RN nº 563/2022.
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    ALTERAÇÕES NA REDE ASSISTENCIAL DO PLANO
                                </td>
                                <td colspan="2">
                                    Alterações na rede de prestadores de serviço devem ser informadas pela seguradora,
                                    inclusive as inclusões. No caso de redimensionamento por redução de prestador
                                    hospitalar, a alteração necessita ser autorizada pela <strong>ANS</strong> antes da comunicação aos
                                    segurados. Esta comunicação deve observar 30 dias de antecedência no caso de
                                    substituição de prestador hospitalar para que a equivalência seja analisada pela
                                    <strong>ANS</strong>.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    VIGÊNCIA
                                </td>
                                <td>
                                    A vigência mínima do contrato individual ou familiar é 12 meses com renovação
                                    automática.
                                </td>
                                <td>
                                    A vigência mínima do contrato coletivo é negociada e tem renovação automática.
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    REGRAS DE RESCISÃO E/OU SUSPENSÃO
                                </td>
                                <td>
                                    Nos planos individuais ou familiares a rescisão ou suspensão contratual unilateral
                                    por parte da <strong>seguradora</strong> somente pode ocorrer em duas hipóteses: por fraude; e/ou por
                                    não pagamento da mensalidade por período superior a sessenta dias, consecutivos ou
                                    não, nos últimos doze meses de vigência do contrato, desde que o <strong>Beneficiário</strong> seja
                                    comprovadamente notificado até o 50º dia de inadimplência.
                                </td>
                                <td>
                                    Nos planos coletivos as regras para rescisão ou suspensão contratual unilateral são
                                    negociadas entre a pessoa jurídica contratante e a seguradora de plano de saúde. É
                                    importante que o <strong>Beneficiário</strong> fique atento às regras estabelecidas no seu contrato.
                                    A rescisão unilateral imotivada, por qualquer das partes, somente poderá ocorrer
                                    após a vigência do período de 12 meses e mediante prévia notificação da outra parte
                                    com antecedência mínima de 60 dias. Na vigência do contrato e sem anuência da pessoa
                                    jurídica contratante, a seguradora só pode excluir ou suspender assistência à saúde
                                    de <strong>Beneficiário</strong> em caso de fraude ou perda do vínculo de titular ou de dependência.
                                </td>
                            </tr>

                        </table>
                        <h1>
                            Perda da condição de <strong>Beneficiário</strong> nos planos coletivos
                        </h1>
                        <p>
                            Nos planos coletivos os segurados titulares e seus dependentes podem ser excluídos do
                            plano de saúde, que continua vigente, quando perdem o vínculo com a pessoa jurídica
                            contratante, ou seja, com o sindicato, associação profissional ou congênere, órgão público
                            ou empresa.
                        </p>

                        <h1>
                            Direitos dos artigos 30 e 31, da Lei n.º 9656/1998, nos planos coletivos empresariais
                        </h1>
                        <p>
                            Nos planos coletivos empresariais em que há participação financeira do <strong>Beneficiário</strong> no
                            pagamento da mensalidade, regular é não vinculada à coparticipação em eventos, é assegurado
                            ao mesmo o direito de permanência neste plano coletivo no caso de demissão sem justa causa
                            ou aposentadoria. No caso de morte do titular demitido ou aposentado em gozo de <strong>seguro</strong>
                            decorrente dos artigos 30 e 31, é assegurada a permanência do grupo familiar. <br>
                            O <strong>Beneficiário</strong> tem um prazo máximo de 30 dias, após seu desligamento, para se manifestar
                            junto à empresa/órgão público, com a qual mantinha vínculo empregatício ou estatutário,
                            sobre a sua vontade de permanecer no plano de saúde. O <strong>Beneficiário</strong> assume integralmente o
                            pagamento da mensalidade quando opta pela permanência. O período de manutenção da condição
                            de <strong>Beneficiário</strong> do plano é de 6 meses no mínimo, e proporcional ao período em que o mesmo
                            permaneceu vinculado e contribuindo para o plano de saúde como empregado ou servidor <br>
                            Salientamos que o <strong>Beneficiário</strong> perde o direito de permanência no plano de saúde do seu
                            ex-empregador ou órgão público quando da sua admissão em um novo emprego ou cargo
                        </p>

                        <h1>
                            Direito de migrar para plano individual ou familiar aproveitando carência do plano coletivo
                            empresarial
                        </h1>
                        <p>
                            Os segurados de planos coletivos empresariais que tiverem o <strong>seguro</strong> de plano de saúde
                            extinto, terão o direito de se vincular a um plano da mesma seguradora com contratação
                            individual ou familiar, sem a necessidade de cumprimento de novos prazos de carência. Essa
                            prerrogativa não se aplica aos planos de autogestões. <br>
                            A condição para exercer esse direito é que a seguradora comercialize plano individual ou
                            familiar. <br>
                            O <strong>Beneficiário</strong> tem um prazo máximo de 30 dias, após a extinção do <strong>seguro</strong>, para contratar,
                            junto à seguradora, o plano individual ou familiar. <br>
                            Este direito não existe caso tenha havido apenas a troca de seguradora por parte do
                            contratante (órgão público ou empresa)
                        </p>

                        <h1>
                            Cobertura e segmentação assistencial
                        </h1>
                        <p>
                            Define o tipo de assistência à qual o <strong>Beneficiário</strong> terá direito. Os planos podem ter
                            assistência ambulatorial, hospitalar, obstétrica e odontológica. Essas assistências à saúde
                            isoladas ou combinadas definem a segmentação assistencial do plano de saúde a ser contratado
                            pelo <strong>Beneficiário</strong>. A Lei nº 9.656/1998 definiu como referência o plano com assistência
                            ambulatorial, hospitalar, obstétrica e urgência/emergência integral após 24h, em acomodação
                            padrão enfermaria. O contrato pode prever coberturas mais amplas do que as exigidas pela
                            legislação, mas as exclusões devem estar limitadas às previstas na Lei nº 9.656/1998. <br>
                            A cobertura para acidente do trabalho ou doença profissional em planos coletivos
                            empresariais é adicional e depende de contratação específica.
                        </p>

                        <h1>
                            Abrangência geográfica
                        </h1>
                        <p>
                            Aponta para o <strong>Beneficiário</strong> a área em que a seguradora de plano de saúde se compromete a
                            garantir todas as coberturas de assistência à saúde contratadas. A abrangência geográfica
                            pode ser nacional, estadual, grupo de estados, municipal ou grupo de municípios.
                        </p>

                        <h1>
                            Área de atuação
                        </h1>
                        <p>
                            É a especificação nominal do(s) estado(s) ou município(s) que compõem as áreas de
                            abrangência estadual, grupo de estados, grupo de municípios ou municipal. <br>
                            É importante que o <strong>Beneficiário</strong> fique atento a estas informações, uma vez que as especificações da área de abrangência e da área de atuação do plano, obrigatoriamente, devem constar no contrato de forma clara.
                        </p>

                        <h1>
                            <strong><strong> Administradora de Seguros </strong></strong>
                        </h1>
                        <p>
                            Quando houver participação <strong><strong> Administradora de Seguros </strong></strong> na contratação de plano coletivo
                            empresarial, a verificação do número de participantes para fins de carência ou CPT
                            considerará a totalidade de participantes eventualmente já vinculados ao plano estipulado. <br>
                            Se a contratação for de plano coletivo por adesão, para fins de carência considerar-se-á
                            como data de celebração do contrato coletivo a data do ingresso da pessoa jurídica
                            contratante ao contrato estipulado pela <strong><strong> Administradora de Seguros </strong></strong>
                        </p>
                        <div class="rodape">
                            <div class="rodapeManual">
                                <p>
                                    Para informar-se sobre estes e outros detalhes da contratação de planos de saúde, o
                                    <strong>Beneficiário</strong> deve contatar a seguradora. Permanecendo dúvidas, pode consultar a <strong>ANS</strong>
                                    pelo site www.ANS.gov.br ou pelo Disque ANS (0800-701-9656).
                                </p>
                                <p>
                                    ESTE MANUAL NÃO SUBSTITUI O CONTRATO
                                </p>
                            </div>
                            <div class="rodapeAns">
                                <p>
                                    O Manual de Orientação para Contratação de Planos de Saúde é uma exigência da
                                    Resolução Normativa 195/2009, da Agência Nacional de Saúde Suplementar
                                </p>
                                <div class="row">
                                    <img src="/img/Anslogo.png">
                                    <img src="/img/ministerio-da-saude.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p>
                                        Agência Nacional de Saúde Suplementar </br>
                                        Av. Augusto Severo, 84 - Glória - CEP: 20021-040</br>
                                        Rio de Janeiro - RJ
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>
                                        Disque-ANS: 0800 701 9656 </br>
                                        www.ANS.gov.br </br>
                                        ouvidoria@ANS.gov.br
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div style="
                            width: 100%;
                            display: flex;
                            flex-direction: row;">
                            <div style="
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                ">
                                <%= plano.siteOperadora %> | Tel: <%= plano.telefoneOperadora %>
                            </div>
                            <div style="
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                color: #0E3178;
                                font-weight: 900;
                                font-size: 12px;
                                text-align: end;"
                                >
                                <div style="font-family: 'Times New Roman', Times, serif; background-color: black;padding: 2px; color: white; display: inline-block; width: fit-content">
                                    <div style="border: 1px solid white">
                                      <strong>ANS</strong> Nº <%= plano.ansOperadora %>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row dados guiaLeitura page-break">
                <div class="col-12">
                    <h6> Guia de Leitura Contratual (GLC)</h6>
                    <div style="width: 100%; display: flex; flex-direction: row;">
                        <div style="width: 50%; display: flex; flex-direction: column; align-items: center;">
                            <img class="mw-100" src="<%= plano.logo %>" style="width: 50%;" />
                        </div>
                        <div style="width: 50%; display: flex; flex-direction: column; color: #0E3178; font-weight: 900; align-items: center; text-align: end; font-size: 12px;">
                            <%= plano.razaoSocialOperadora %> <br>
                            CPNJ: <%= plano.cnpjOperadora %> <br>
                            Registro na ANS: <%= plano.ansOperadora %> <br>
                            <%= plano.siteOperadora %> | Tel: <%= plano.telefoneOperadora %>
                        </div>
                    </div>
                    <div class="row manual">
                        <table class="table table-glc" style="border-collapse: separate; border-spacing: 0 20px;">
                            <tr>
                                <td>CONTRATAÇÃO</td>
                                <td>Determina se o plano destina-se à pessoa física ou jurídica. A contratação pode ser Individual/ Familiar, Coletivo por Adesão ou Coletivo Empresarial.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 4 : 3 %>
                                </td>
                            </tr>
                            <tr>
                                <td>SEGMENTAÇÃO ASSISTENCIAL</td>
                                <td>Define a amplitude da cobertura assistencial do plano de saúde. A segmentação assistencial é categorizada em: referência, hospitalar com obstetrícia, hospitalar sem obstetrícia, ambulatorial, odontológica e suas combinações.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 2 : 1 %>
                                </td>
                            </tr>
                            <tr>
                                <td>PADRÃO DE ACOMODAÇÃO</td>
                                <td>Define o padrão de acomodação para o leito de internação nos planos hospitalares: pode ser coletiva ou individual.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 2 : 1 %>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">ÁREA GEOGRÁFICA DE ABRANGÊNCIA E ATUAÇÃO</td>
                                <td>Área em que a seguradora de plano de saúde se compromete a garantir todas as coberturas de assistência à saúde contratadas. A exceção da nacional, é obrigatória a especificação nominal do(s) estado(s) ou município(s) que compõem as áreas de abrangência estadual, grupo de estados, grupo de municípios ou municipal</td>
                                <td>
                                    <%= dependentes.length > 3 ? 5 : 4 %>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">COBERTURAS E PROCEDIMENTOS GARANTIDOS</td>
                                <td>É o conjunto de procedimentos a que o <strong>Beneficiário</strong> tem direito, previsto na legislação de saúde suplementar pelo Rol de Procedimentos e Eventos cm Saúde, que constitui a referência básica para cobertura mínima obrigatória, e no contrato firmado com a seguradora, conforme a segmentação assistencial do plano contratado. O <strong>Beneficiário</strong> deve analisar detalhadamente as coberturas a que tem direito.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 4 : 3 %>
                                </td>
                            </tr>
                            <tr>
                                <td>EXCLUSÕES DE COBERTURAS</td>
                                <td>E o conjunto de procedimentos a que o <strong>Beneficiário</strong> não tem direito, previsto na legislação de saúde suplementar, conforme a segmentação assistencial do plano contratado.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 4 : 3 %>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">DOENÇAS E LESÕES PREEXISTENTES (DLP)</td>
                                <td>Doenças e lesões preexistentes - DLP - são aquelas existentes antes da contratação do plano de saúde, e que o <strong>Beneficiário</strong> ou seu responsável saiba ser portador</td>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>CARÊNCIAS</td>
                                <td>Carência é o período em que o <strong>Beneficiário</strong> não tem direito a cobertura após a contratação do plano. Quando a seguradora exigir cumprimento de carência, este período deve estar obrigatoriamente escrito, de forma clara, no contrato. Após cumprida a carência, o <strong>Beneficiário</strong> terá acesso a todos os procedimentos previstos em seu contrato e na legislação, exceto eventual cobertura parcial temporária por DLP.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 4 : 3 %>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">CARÊNCIAS MECANISMOS DE REGULAÇÃO</td>
                                <td>São os mecanismos financeiros (franquia e/ou coparticipação), assistenciais (direcionamento e/ou perícia profissional) e/ou administrativos (autorização prévia) que a seguradora utiliza para gerenciar a demanda e/ou utilização dos serviços de saúde.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 4 : 3 %>
                                </td>
                            </tr>
                            <tr>
                                <td>VIGÊNCIAS</td>
                                <td>Define o período em que vigorará o contrato.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 4 : 3 %>
                                </td>
                            </tr>
                            <tr>
                                <td>RESCISÃO/ SUSPENSÃO</td>
                                <td>A rescisão põe fim definitivamente à vigência do contrato. A suspensão descontinua a vigência do contrato.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 5 : 4 %>
                                </td>
                            </tr>
                            <tr>
                                <td>REAJUSTE</td>
                                <td>O reajuste por variação de custos é o aumento anual de mensalidade do plano de saúde em ramo de alteração nos custos, ocasionada por fatores tais como inflação, uso de novas tecnologias e nível de utilização dos serviços. A variação da mensalidade por mudança de faixa etária é o aumento decorrente da alteração de idade do <strong>Beneficiário</strong>.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 5 : 4 %>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">CONTINUIDADE NO PLANO COLETIVO EMPRESARIAL (ART. 30 E 31 DA LEI Nº 9.656/1998)</td>
                                <td>A existência da contribuição do empregado para o pagamento da mensalidade do plano de saúde, regular e não vinculada à coparticipação em eventos, habilita ao direito de continuar vinculado por determinados períodos ao plano coletivo empresarial, nos casos de demissão sem justa causa ou aposentadoria, observadas as regras para oferecimento, opção e gozo, previstas na Lei e sua regulamentação.</td>
                                <td>
                                    <%= dependentes.length > 3 ? 5 : 4 %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rodape">
                    <div class="rodapeManual">
                        <p>
                            Para informar-se sobre estes e outros detalhes da contratação de planos de saúde, o
                            <strong>Beneficiário</strong> deve contatar a seguradora. Permanecendo dúvidas, pode consultar a <strong>ANS</strong>
                            pelo site www.ANS.gov.br ou pelo Disque ANS (0800-701-9656).
                        </p>
                        <p>
                            ESTE MANUAL NÃO SUBSTITUI O CONTRATO
                        </p>
                    </div>
                    <div class="rodapeAns">
                        <p>
                            O Manual de Orientação para Contratação de Planos de Saúde é uma exigência da
                            Resolução Normativa 195/2009, da Agência Nacional de Saúde Suplementar
                        </p>
                        <div class="row">
                            <img src="/img/ANSlogo.png">
                            <img src="/img/ministerio-da-saude.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>
                                Agência Nacional de Saúde Suplementar </br>
                                Av. Augusto Severo, 84 - Glória - CEP: 20021-040</br>
                                Rio de Janeiro - RJ
                            </p>
                        </div>
                        <div class="col-6">
                            <p>
                                Disque-ANS: 0800 701 9656 </br>
                                www.ANS.gov.br </br>
                                ouvidoria@ANS.gov.br
                            </p>
                        </div>
                    </div>
                </div>
                <div style="
                    width: 100%;
                    display: flex;
                    flex-direction: row;">
                    <div style="
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        ">
                        <%= plano.siteOperadora %> | Tel: <%= plano.telefoneOperadora %>
                    </div>
                    <div style="
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        color: #0E3178;
                        font-weight: 900;
                        font-size: 12px;
                        text-align: end;"
                        >
                        <div style="font-family: 'Times New Roman', Times, serif; background-color: black;padding: 2px; color: white; display: inline-block; width: fit-content">
                            <div style="border: 1px solid white">
                              <strong>ANS</strong> Nº <%= plano.ansOperadora %>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            


            <% if (implantacao.formaPagamento === '1') { %>
                <div class="row dados aditivoReducaoCarencia page-break">
                    <div class="col-12">
                        <h6> ADITIVO DE REDUÇÃO DE CARÊNCIA </h6>
                        <div class="row">
                            <p>
                                Este Aditivo de Redução de Carências é parte integrante da Proposta acima referida e visa conceder prazos de carência reduzidos, contados a partir do início de vigência do seguro, aos proponentes elegíveis a essa redução.
                            </p>
    
                            <table class="table table-contratoGerais">
                                <thead>
                                    <th> DESCRIÇÃO </th>
                                    <th> CARÊNCIA CONTRATUAL * </th>
                                    <th> CARÊNCIA REDUZIDA* </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Urgência
                                        </td>
                                        <td>
                                            24 horas
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Diagnóstico e Ortodontia
                                        </td>
                                        <td>
                                            30 dias
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Dentística, Prevenção, Radiologia, Cirurgia e Odontopediatria
                                        </td>
                                        <td>
                                            60 dias
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Periodontia e Endodontia
                                        </td>
                                        <td>
                                            90 Dias
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Prótese
                                        </td>
                                        <td>
                                            180 Dias
                                        </td>
                                        <td>
                                            Zero
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
    
                            <p>
                                *Carência Contratual válida para pagamento em boleto parcelado.  
                            </p>
                            <p> 
                                **Carência Reduzida válida para pagamento em cartão de crédito, débito, pix ou em boleto único. 
                            </p> 
    
                            <p>
                                Declaro ter recebido cópia deste Aditivo de Redução de Carências e estou de acordo com os seus termos. Estou ciente de que a possibilidade de redução de carências será analisada de forma individual, para cada proponente, e que essa possibilidade está subordinada à análise e aprovação de documentos por parte da seguradora. Estou ciente também de que os proponentes que não se enquadrarem nas condições descritas neste aditivo e não forem elegíveis à redução de carências deverão cumprir integralmente as carências descritas no Manual do Beneficiário.
                            </p>
                        </div>
    
                    </div>
                </div>
            <% } %>
            

            <div class="row assinatura page-break" id="assinar">
                <div id="loading-div" style="display: none;">
                    <p>Aguarde, enviando...</p>
                    <div class="loader"></div>
                </div>
                <div class="col-12">
                    <h6>Assinatura da <strong>Proposta</strong></h6>
                    <% if (assinaturaBase64) { %>
                        <img src="<%= assinaturaBase64 %>" alt="Assinatura do Usuário">
                        <div style="width: 100%; text-align: left;">
                            <p><strong>Dados da Assinatura Eletrônica</strong></p>
                            <p>
                                <strong>Nome:</strong> <%= implantacao.nomefinanceiro %><br>
                                <strong>CPF:</strong> <%= implantacao.cpffinanceiro %><br>
                                <strong>Data e horário:</strong> <%= dadosAssinatura.timestamp %><br>
                                <strong>Localização:</strong> <%= dadosAssinatura.location %><br>
                                <strong>IP computador:</strong> <%= dadosAssinatura.ip_address %><br>
                            </p>
                        </div>
                    <% } else { %>
                        <!-- Se não existir assinatura, renderize a entrada para o nome -->
                        <div class="signature-input">
                            <span>Insira seu Nome no campo abaixo e clique em gerar assinaturas em seguida escolha um modelo e clique em assinar proposta</span>
                            <input type="text" id="signature-name" placeholder="Digite seu nome">
                            <button id="generate-signature" class="btn btn-primary">Gerar Assinaturas</button>
                        </div>
                        <div class="signature-preview" style="display: none;">
                            <h6>Escolha um Modelo de Assinatura</h6>
                            <div id="signature-options" class="signature-options">
                                <!-- Assinaturas geradas serão inseridas aqui -->
                            </div>
                        </div>
                        <div class="row btnAssinatura">
                            <button id="save-btn" class="btn btn-primary" data-implantacao-id="<%= implantacao.id %>">ASSINAR PROPOSTA</button>
                            <button id="reset-btn" class="btn btn-secondary">Resetar Assinatura</button>
                        </div>
                    <% } %>
                </div>
            </div>
            
            
            


    <!-- Adicione um botão para salvar a assinatura -->
        </div>
        <!-- <footer class="footer">
            <p> Este contrato só tem validade mediante pagamento comprovado</p>
            <p class="page-number"> Pág <span class="page-num"></span>/<span class="total-pages"></span> </p>
        </footer> -->
    </main>

</body>
<script src="/js/scriptContrato.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</html>