<!DOCTYPE html>
<html>

<head>
  <title>Detalhes da Implantação</title>
  <link rel="icon" type="image/png" href="/img/faviconV2_mounthermon.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/faviconV2_mounthermon.png" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
  <%- include('navbar') %>
  <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" id="Message"
        style="display:none">
        Sucesso!
    </div>
    <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert" id="MessageError"
        style="display:none">
        Erro!
    </div>
  <div class="content">
    <div class="container mt-4">
      <h2>Detalhes da Implantação</h2>

      <!-- Card com informações da implantação e Titular -->
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Informações do Titular e Implantação</h5>
        </div>
        <!-- <button id="editButton" class="btn btn-primary mb-3">Editar</button> -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>PLANO SELECIONADO:</strong>
                <%= plano.nome_do_plano %>
              </p>
              <p><strong>ID Implantação:</strong>
                <%= implantacao.id %>
              </p>
              <p><strong>Data Implantação:</strong>
                <%= moment(implantacao.data_implantacao).format('DD/MM/YYYY') %>
              </p>
              <p><strong>CPF Titular:</strong>
                <%= implantacao.cpftitular %>
              </p>
              <p><strong>RG Titular:</strong>
                <%= implantacao.rgtitular %>
              </p>
              <p><strong>Orgão Expedidor RG Titular:</strong>
                <%= implantacao.orgaoexpedidor %>
              </p>
              <p><strong>Data expedição RG Titular:</strong>
                <%= moment(implantacao.dataexpedicaorgtitular).format('DD/MM/YYYY') %>
              </p>
              <p><strong>Celular Titular:</strong>
                <%= implantacao.telefonetitular %>
              </p>
              <p><strong>Profissisão Titular/Entidade:</strong>
                <%= implantacao.profissaotitular %> / <%= implantacao.nomeEntidade %>
              </p>
              <p><strong>Titular é o responsável financeiro?:</strong>
                <%= implantacao.titularresponsavelfinanceiro %>
              </p>
            </div>
            <div class="col-md-6">
              <p> <strong> Número Proposta: </strong>
                <%= implantacao.numeroProposta %>
              </p>
              <p><strong>FORMA DE PAGAMENTO SELECIONADA:</strong>
                <%= formaPagamento.descricao %>
              </p>
              <p><strong>Nome Titular:</strong>
                <span class="editable" data-key="nomecompleto"><%= implantacao.nomecompleto %></span>
              </p>
              <p><strong>Data de Nascimento Titular:</strong>
                <%= moment(implantacao.datadenascimento).format('DD/MM/YYYY') %>
              </p>
              <p><strong>Nome Mãe Titular:</strong>
                <span class="editable" data-key="nomemaetitular"><%= implantacao.nomemaetitular %></span>
              </p>
              <p><strong>Sexo Titular:</strong>
                <%= implantacao.sexotitular %>
              </p>
              <p><strong>Estado Civil Titular:</strong>
                <%= implantacao.estadociviltitular %>
              </p>
              <p><strong>Telefone Titular:</strong>
                <%= implantacao.telefonetitular %>
              </p>
              <p><strong>Email Titular:</strong>
                <%= implantacao.emailtitular %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card com informações do titular financeiro -->

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Informações do Responsável financeiro</h5>
        </div>
        <div class="card-body">
          <% if (implantacao.cpffinanceiro) { %>
            <div class="row">
              <div class="col-md-6">
                <p><strong>CPF Financeiro:</strong>
                  <%= implantacao.cpffinanceiro %>
                </p>
                <p><strong>Telefone Financeiro:</strong>
                  <%= implantacao.telefonetitularfinanceiro %>
                </p>
                <p><strong>Email Financeiro:</strong>
                  <%= implantacao.emailtitular %>
                </p>
                <p><strong>Grau de parentesco com titular:</strong>
                  <%= implantacao.grauparentesco %>
                </p>
              </div>
              <div class="col-md-6">
                <p><strong>Nome Financeiro:</strong>
                  <%= implantacao.nomefinanceiro %>
                </p>
                <p><strong>Data Nascimento Financeiro:</strong>
                  <%= moment(implantacao.datadenascimentofinanceiro).format('DD/MM/YYYY') %>
                </p>
                <p><strong>Sexo Titular:</strong>
                  <%= implantacao.sexotitularfinanceiro %>
                </p>
                <p><strong>Estado Civil Titular:</strong>
                  <%= implantacao.estadociviltitularfinanceiro %>
                </p>
              </div>
            </div>
            <% } else { %>
              <div class="row">
                <p> O titular é o mesmo responsável Financeiro </p>
              </div>
              <% } %>
        </div>
      </div>

      <!-- Card com informações de endereço -->

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Dados de Endereço</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Endereço:</strong>
                <%= implantacao.enderecoresidencial %>
              </p>
              <p><strong>CEP:</strong>
                <%= implantacao.cep %>
              </p>
              <p><strong>Número:</strong>
                <%= implantacao.numeroendereco %>
              </p>
              <p><strong>Complemento</strong>
                <%= implantacao.complementoendereco %>
              </p>
            </div>
            <div class="col-md-6">
              <p><strong>Bairro</strong>
                <%= implantacao.bairro %>
              </p>
              <p><strong>Cidade</strong>
                <%= implantacao.cidade %>
              </p>
              <p><strong>Estado</strong>
                <%= implantacao.estados %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card com informações do Corretor -->

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Dados do Corretor</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Nome Corretor:</strong>
                <%= implantacao.nomecorretor %>
              </p>
              <p><strong>CPF Corretor:</strong>
                <%= implantacao.cpfcorretor %>
              </p>
              <p><strong>Corretora: </strong>
                <%= implantacao.corretora %>
              </p>
              <p><strong>Celular Corretor</strong>
                <%= implantacao.celularcorretor %>
              </p>
            </div>
            <div class="col-md-6">
            </div>
          </div>

          <!-- Adicione outras informações da implantação que você deseja mostrar -->
        </div>
      </div>

      <!-- Card com informações dos dependentes -->
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Dependentes</h5>
        </div>
        <div class="card-body">
          <% if (dependentes.length===0) { %>
            <p>Não há dependentes.</p>
            <% } else { %>
              <% dependentes.forEach(dependente=> { %>
                <div class="card mb-2">
                  <div class="card-body">
                    <p><strong>CPF Dependente:</strong>
                      <%= dependente.cpfdependente %>
                    </p>
                    <p><strong>Nome completo Dependente:</strong>
                      <%= dependente.nomecompletodependente %>
                    </p>
                    <p><strong>Nome Mãe Dependente:</strong>
                      <%= dependente.nomemaedependente %>
                    </p>
                    <p><strong>Data Nascimento Dependente:</strong>
                      <%= moment(dependente.nascimentodependente).format('DD/MM/YYYY') %>
                    </p>
                    <p><strong>Sexo Dependente:</strong>
                      <%= dependente.sexodependente %>
                    </p>
                    <p><strong>Estado Civil Dependente:</strong>
                      <%= dependente.estadocivildependente %>
                    </p>
                    <p><strong>Grau Parentesco Dependente:</strong>
                      <%= dependente.grauparentescodependente %>
                    </p>
                    <!-- Adicione outras informações dos dependentes que você deseja mostrar -->
                  </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Anexos</h5>
        </div>
        <div class="card-body">
          <p> Clique nos links para visualizar e baixar os anexos </p>
          <% if (dependentes.length===0) { %>
            <p>Não há anexos cadastrados nessa proposta.</p>
          <% } else { %>
            <% documentos.forEach(documento=> { %>
              <div class="row">
                <a target="_blank" href="<%= documento.caminho_arquivo %>"><%= documento.nome_arquivo %></a>
              </div>
            <% }); %>
          <% } %>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Ações</h5>
        </div>
        <div class="card-body">
          <div class="row acoes">
            <a href="/assinar/<%= implantacao.id %>/<%= implantacao.numeroProposta %>/<%= implantacao.cpffinanceiro %>/<%= implantacao.identidade %>" target="_blank"><button class="btn btn-success">Ver contrato</button></a>
            <a><button class="btn btn-success" id="reenviarEmail" data-id="<%= implantacao.id %>">Reenviar email</button></a>
            <a><button class="btn btn-success" id="reenviarProposta" data-id="<%= implantacao.id %>">Reenviar Contrato ao DS</button></a>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5> Status e Atualizações </h5>
        </div>
        <div class="card-body">
          <table class="table">
            <% if(status.length > 0) { %>
            <th> Ambiente </th>
            <th> Atualização </th>
              <% status.forEach( function(statusUnico) { %>
                <tr>
                  <td>
                    <% if(statusUnico.idstatus === 2) { %>
                      <span class="statusEcommerce status">
                        ECOMMERCE
                      </span>
                    <% } %>
                    <% if(statusUnico.idstatus === 3) { %>
                      <span class="statusPagamento status">
                        PAGAMENTO
                      </span>
                    <% } %>
                    <% if(statusUnico.idstatus === 4) { %>
                      <span class="statusDs status">
                        DIGITAL SAÚDE
                      </span>
                    <% } %>
                  </td>
                  <td>
                    <%= statusUnico.mensagem %>
                  </td>
                </tr>
              <% }); %>
            <% } else { %> 
              <p> Sem mensagens de status </p>
            <% } %>
  
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/scriptImplantacoes.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</html>