<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mount Hermon - Contratação Dental</title>

    <!-- IMPORTAÇÕES JQUERY  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Adicione este link no head do seu HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    <!-- IMPORTAÇÕES BOOTSTRAP  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="/css/uploadArquivos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="header">
                    <% if (planoSelecionado) { %>
                        <h3>Plano escolhido</h3>
                        <p><strong>Nome:</strong>
                            <%= planoSelecionado.nome_do_plano %>
                        </p>
                        <% } else { %>
                            <p>Nenhum plano selecionado ainda.</p>
                        <% } %>
                </div>
                <div class="stepsForm">
                    <form id="formEtapa1">
                        <%- include('formulario1') %>
                        <div class="btnAcoes">
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(1)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa2" style="display: none;">
                        <%- include('formulario2') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(2)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa3" style="display: none;">
                        <%- include('formulario3') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(3)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa4" style="display: none;">
                        <%- include('formulario4') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(4)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa5" style="display: none;">
                        <%- include('formulario5') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(5)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa6" style="display: none;">
                        <%- include('formulario6') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(6)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa7" style="display: none;">
                        <%- include('formulario7') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(7)">Próxima</button>
                        </div>
                    </form>
                    <form id="formEtapa8" style="display: none;">
                        <%- include('formulario8') %>
                        <div class="btnAcoes">
                            <button class="btn btn-secondary mt-3 float-start btnPrev"  onclick="voltar()" type="button">Voltar</button>
                            <button class="btn btn-primary mt-3 float-end btnproximo" type="button" onclick="return validarFormulario(8)">Próxima</button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</body>
<script src="/js/script.js"></script>
<script src="/js/uploadArquivos.js"></script>
</html>