<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implantações Dental</title>
    <link rel="icon" type="image/png" href="./img/faviconV2_mounthermon.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap" rel="stylesheet">

</head>
<body id="bodyImplantacoes">
    <%- include('navbar') %>
<div class="content">
<div class="contentImplantacoes mt-5">
  <div class="cabecalho">
    <div class="row">
        <div class="col-6">
            <label> Filtrar Implantação por Nº Proposta ou CPF </label>
            <input type="text" id="searchProposta" class="form-control mb-3" placeholder="Insira Nº Proposta ou CPF">
        </div>
    </div>
</div>
    <h2>Implantações</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nº Proposta <i class="fas fa-sort"></i></th>
          <th>CPF Titular <i class="fas fa-sort"></i></th>
          <th>Nome Titular</th>
          <th>Data Implantação <i class="fas fa-sort"></i></th>
          <th>Status</th>
          <th>Plano Escolhido</th>
          <th>Visualizar Informações</th>
        </tr>
      </thead>
      <tbody>
        <% implantacoes.forEach(implantacao => { %>
        <tr>
          <td class="numeroImplantacao"><%= implantacao.numeroProposta %></td>
          <td class="cpf"><%= implantacao.cpftitular %></td>
          <td><%= implantacao.nomecompleto %></td>
          <td><%= format(implantacao.data_implantacao, 'dd/MM/yyyy', { locale: ptBR }) %></td>
          <td>Status Aqui</td>
          <td><%= implantacao.nome_do_plano %></td>
          <td> 
            <a href="/visualizaImplantacao/<%= implantacao.id %>" target="_blank" class="btn btn-info"><button class="btn btn-info"> Detalhes </button></a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#searchProposta").on("input", function () {
        var searchText = $(this).val().trim().toLowerCase();

        $("tbody tr").each(function () {
            var nImplantacao = $(this).find(".numeroImplantacao").text().trim().toLowerCase();
            var cpf = $(this).find(".cpf").text().trim().toLowerCase();

            // Verifica se o texto digitado corresponde ao número de implantação ou ao CPF
            if (nImplantacao.includes(searchText) || cpf.includes(searchText)) {
                $(this).removeClass("d-none"); // Exibe o elemento
            } else {
                $(this).addClass("d-none"); // Oculta o elemento
            }
        });
    });
});



  let sortOrder = 1;

  // Função para ordenar a tabela por coluna
  function sortTable(columnIndex) {
    const table = $('table');
    const rows = $('tbody tr').toArray().sort((a, b) => {
      const tdA = $(a).find('td').eq(columnIndex).text().toUpperCase();
      const tdB = $(b).find('td').eq(columnIndex).text().toUpperCase();

      // Verifique se a coluna é a primeira (ID) e converta para número inteiro
      if (columnIndex === 0) {
        return sortOrder * (parseInt(tdA, 10) - parseInt(tdB, 10));
      }

      return sortOrder * tdA.localeCompare(tdB);
    });

    table.find('tbody').empty().append(rows);
    // Alterne o estado da ordenação para o próximo clique
    sortOrder = -sortOrder;
  }

  // Adicione um evento de clique nos ícones de ordenação
  $('th i.fa-sort').click(function () {
    const columnIndex = $(this).parent().index();
    sortTable(columnIndex);
  });
</script>

<body>