<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implantações Dental</title>
    <link rel="icon" type="image/png" href="./img/faviconV2_mounthermon.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap" rel="stylesheet">

</head>
<body id="bodyImplantacoes">
    <%- include('navbar') %>
<div class="content">
<div class="contentImplantacoes mt-5">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="./img/logomounthermonoriginal.png" width="10%">
      </div> 
    <h2>Implantações</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Implantação <i class="fas fa-sort"></i></th>
          <th>CPF Titular <i class="fas fa-sort"></i></th>
          <th>Nome Titular</th>
          <th>Data Implantação <i class="fas fa-sort"></i></th>
          <th>Plano Escolhido</th>
          <th>Visualizar Informações</th>
        </tr>
      </thead>
      <tbody>
        <% implantacoes.forEach(implantacao => { %>
        <tr>
          <td><%= implantacao.id %></td>
          <td><%= implantacao.cpftitular %></td>
          <td><%= implantacao.nomecompleto %></td>
          <td><%= format(implantacao.data_implantacao, 'dd/MM/yyyy', { locale: ptBR }) %></td>
          <td><%= implantacao.planoSelecionado %></td>
          <td> <a href="/gerarContrato/<%= implantacao.id %>" target="_blank" class="btn btn-info"><button class="btn btn-info"> Visualizar Contrato </button></a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<script>
  // Variável para rastrear o estado atual da ordenação (1 para crescente, -1 para decrescente)
  let sortOrder = 1;

  // Função para ordenar a tabela por coluna
  function sortTable(columnIndex) {
    const table = $('table');
    const rows = $('tbody tr').toArray().sort((a, b) => {
      const tdA = $(a).find('td').eq(columnIndex).text().toUpperCase();
      const tdB = $(b).find('td').eq(columnIndex).text().toUpperCase();

      // Verifique se a coluna é a primeira (ID) e converta para número inteiro
      if (columnIndex === 0) {
        return sortOrder * (parseInt(tdA, 10) - parseInt(tdB, 10));
      }

      return sortOrder * tdA.localeCompare(tdB);
    });

    table.find('tbody').empty().append(rows);
    // Alterne o estado da ordenação para o próximo clique
    sortOrder = -sortOrder;
  }

  // Adicione um evento de clique nos ícones de ordenação
  $('th i.fa-sort').click(function () {
    const columnIndex = $(this).parent().index();
    sortTable(columnIndex);
  });
</script>
<script src="/js/jsActiveLink.js"></script>

<body>