<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planos</title>
  <link rel="icon" type="image/png" href="./img/faviconV2_mounthermon.png" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="navbardiv">
    <%- include('navbar') %>
  </div>
  <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" id="Message" style="display:none">
    Sucesso!
  </div>
  <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert" id="MessageError" style="display:none">
    Erro!
  </div>
  <div class="content">
    <div class="container mt-4">
      <h1 class="mb-4">Lista de Planos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome do Plano</th>
            <th>Logo</th>
            <th>ANS</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <% planos.forEach(plano=> { %>
            <tr class="plan-row" data-id="<%= plano.id %>">
              <td><span class="field-value">
                  <%= plano.nome_do_plano %>
                </span></td>
              <td>
                <!-- Adicionar os atributos data-id, data-toggle e data-target à imagem da logo -->
                <img src="<%= plano.logo %>" alt="Logo do Plano" style="max-width: 150px; max-height: 100px;"
                  class="logo-image" data-id="<%= plano.id %>" data-toggle="modal" data-target="#imagemModal">
              </td>
              <td><span class="field-value">
                  <%= plano.ans %>
                </span></td>
              <td>
                <button class="btn btn-secondary btn-editar" data-id="<%= plano.id %>">Editar</button>
              </td>
            </tr>
            <tr class="field-row d-none trPlanoInput" data-id="<%= plano.id %>">
              <td colspan="4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <label for="nome_do_plano">Nome do Plano:</label>
                      <input type="text" class="form-control field-edit" value="<%= plano.nome_do_plano %>" name="nome_do_plano" id="nome_do_plano">
                    </div>
                    <div class="col-6">
                      <label for="ans">ANS</label>
                      <input type="text" class="form-control field-edit" value="<%= plano.ans %>" name="ans" id="ans">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label for="logo">Logo</label>
                      <img class="logo-preview form-control" src="<%= plano.logo %>" style="width: 50%;" data-name="logo" name="logo" id="logo">
                      <button class="edit-image-btn btn btn-info" title="Editar Imagem" data-toggle="modal"
                        data-target="#imagemModal" data-type="logo"><i class="bi bi-images"></i> EDITAR IMAGEM </button>
                      </br>
                    </div>
                  </div>
                </div>
                <div class="formasdepagamento">
                  <h4 class="text-center">Formas de pagamento</h4>
                
                  <!-- Botão para adicionar nova forma de pagamento -->
                  <div class="text-end mb-3">
                    <button type="button" class="btn btn-primary addPaymentMethodBtn" data-plano-id="<%= plano.id %>">Nova Forma de Pagamento</button>
                  </div>
                
                  <!-- Formulário para nova forma de pagamento -->
                  <div class="newPaymentMethodForm" data-plano-id="<%= plano.id %>" style="display:none;">
                    <div class="row mb-3">
                      <div class="col-7">
                        <label for="paymentDescription">Descrição</label>
                        <input type="text" class="form-control" name="paymentDescription" required>
                      </div>
                      <div class="col-5">
                        <label for="paymentType">Parametrização</label>
                        <select class="form-control" name="paymentType" required>
                          <option value="À vista">À vista</option>
                          <option value="Cartão Parcelado">Cartão Parcelado</option>
                          <option value="Boleto 2x">Boleto 2x</option>
                          <option value="Boleto 3x">Boleto 3x</option>
                          <option value="Cartão à vista">Cartão à vista</option>
                          <option value="Cartão Parcelado">Cartão Parcelado</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-6">
                        <label for="minParcelValue">Valor Parcela Mínima</label>
                        <input type="text" class="form-control" name="minParcelValue" required>
                      </div>
                      <div class="col-6">
                        <label for="totalPaymentValue">Valor Total Pgto</label>
                        <input type="text" class="form-control" name="totalPaymentValue" required>
                      </div>
                    </div>
                    <div class="text-end">
                      <input type="hidden" class="idDoPlano" value="<%= plano.id %>">
                      <button type="button" class="btn btn-success savePaymentMethodBtn" data-plano-id="<%= plano.id %>">Salvar</button>
                      <button type="button" class="btn btn-success d-none atualizarPaymentMethodBtn" data-plano-id="<%= plano.id %>">Atualizar</button>
                    </div>
                  </div>
                
                  <!-- Tabela de formas de pagamento cadastradas -->
                  <div class="table-responsive mt-4">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Descrição</th>
                          <th>Parametrização</th>
                          <th>Valor Parcela Mínima</th>
                          <th>Valor Total Pgto</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <% formasDePagamento.forEach(function(pagamento) { %>
                        <tbody>
                          <% if(plano.id === pagamento.id_plano) { %>
                            <tr data-id="<%= pagamento.id %>" data-plano-id="<%= pagamento.id_plano %>">
                              <td class="paymentDescription"><%= pagamento.descricao %></td>
                              <td class="paymentType"><%= pagamento.parametrizacao %></td>
                              <td class="minParcelValue">R$ <%= pagamento.valor_parcela_minima.toFixed(2) %></td>
                              <td class="totalPaymentValue">R$ <%= pagamento.valor_total_pgto.toFixed(2) %></td>
                              <td>
                                  <button type="button" class="btn btn-warning btn-sm editPaymentMethodBtn">Editar</button>
                                  <button type="button" class="btn btn-danger btn-sm deletePaymentMethodBtn">Excluir</button>
                              </td>
                          </tr>
                          <% }  %>
                        </tbody>
                      <% }); %>
                    </table>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="descricao">Descrição:</label>
                      <textarea class="form-control" name="descricao" rows="16" id="descricao"><%= plano.descricao %></textarea>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="">Observações:</label>
                      <textarea class="form-control" name="observacoes" rows="4" id="observacoes"><%= plano.observacoes %></textarea>
                    </div>
                    <div class="form-group">
                      <label for="reajuste">Mês de Reajuste</label>
                      <input type="hidden" value="<%= plano.reajuste %>" name="reajusteValue">
                      <select class="form-control" name="reajuste" id="reajuste">
                        <option disabled selected value="">Selecione</option>
                        <option value="Janeiro">Janeiro</option>
                        <option value="Fevereiro">Fevereiro</option>
                        <option value="Março">Março</option>
                        <option value="Abril">Abril</option>
                        <option value="Maio">Maio</option>
                        <option value="Junho">Junho</option>
                        <option value="Julho">Julho</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Setembro">Setembro</option>
                        <option value="Outubro">Outubro</option>
                        <option value="Novembro">Novembro</option>
                        <option value="Dezembro">Dezembro</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="hidden" value="<%= plano.contratacao %>" name="contratacaoValue">
                      <label for="contratacao">Contratação</label>
                      <select class="form-control" name="contratacao" >
                        <option disabled selected value="">Selecione</option>
                        <option value="Adesão">Adesão</option>
                        <option value="Outro">Outro</option>
                      </select>
                    </div>
            
                    <div class="form-group">
                      <label for="coparticipacao">Coparticipação</label>
                      <input type="hidden" value="<%= plano.coparticipacao %>" name="cooparticipacao-value">
                      <select class="form-control" name="coparticipacao">
                        <option disabled selected value="">Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="abrangencia">Abrangência</label>
                      <input type="hidden" value="<%= plano.abrangencia %>" name="abrangencia-value">
                      <select class="form-control" name="abrangencia">
                        <option disabled selected value="">Selecione</option>
                        <option value="Nacional">Nacional</option>
                        <option value="Grupo de Estados">Grupo de Estados</option>
                        <option value="Grupo de Municípios">Grupo de Municípios</option>
                        <option value="Municipal">Municipal</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="areaatuacao">Abrangência</label>
                      <input type="text" value="<%= plano.areaatuacao %>" name="areaatuacao" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h1>Parametrização com Digital Saúde</h1>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="numeroConvenio"> Número de Convênio</label>
                      <input name="numeroConvenio" id="numeroConvenio" class="numeroConvenio form-control" value="<%= plano.numeroConvenio %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="codigoPlanoDS"> Código do Plano</label>
                      <input name="codigoPlanoDS" id="codigoPlanoDS" class="codigoPlanoDS form-control" value="<%= plano.codigoPlanoDS %>">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h1>Informações da Operadora</h1>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="ansOperadora"> Nº ANS Operadora</label>
                      <input name="ansOperadora" id="ansOperadora" class="ansOperadora form-control" value="<%= plano.ansOperadora %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="siteOperadora"> Site Operadora</label>
                      <input name="siteOperadora" id="siteOperadora" class="siteOperadora form-control" value="<%= plano.siteOperadora %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="telefoneOperadora"> Telefone Operadora</label>
                      <input name="telefoneOperadora" id="telefoneOperadora" class="telefoneOperadora form-control" value="<%= plano.telefoneOperadora %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cnpjOperadora"> CNPJ Operadora</label>
                      <input name="cnpjOperadora" id="cnpjOperadora" class="cnpjOperadora form-control" value="<%= plano.cnpjOperadora %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="razaoSocialOperadora"> Razão Social Operadora</label>
                      <input name="razaoSocialOperadora" id="razaoSocialOperadora" class="razaoSocialOperadora form-control" value="<%= plano.razaoSocialOperadora %>">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-salvar" data-id="<%= plano.id %>">Salvar Alterações</button>
                  <button class="btn btn-danger btn-excluir" data-id="<%= plano.id %>">Excluir Plano</button>
                </div>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
    <div class="NovoPlano" id="novoPlano">
      
    </div>
    <button class="btn btn-success" id="addPlano">Adicionar novo plano</button>
  </div>
  <div class="modal fade" id="imagemModal" tabindex="-1" aria-labelledby="imagemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imagemModalLabel">Selecionar Imagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <% files.forEach(file=> { %>
              <div class="col-md-4">
                <img src="/arquivos/<%= file %>" alt="Imagem" class="img-thumbnail image-selection"
                  data-src="<%= file %>">
              </div>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scriptPlanos.js"></script>
</body>

</html>